/content/ export-ignore
/site/ export-ignore
/src/ export-ignore
/media/ export-ignore
/tests/ export-ignore
/.github/ export-ignore
/.vscode/ export-ignore

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.htaccess export-ignore
/index.site.php export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/.nvmrc export-ignore
/.prettierrc export-ignore
/.releaserc export-ignore

# Development files
composer.lock export-ignore
package.json export-ignore

# Source
src/ export-ignore
/index.site.php export-ignore