
.jj-place-icons[data-v-095dcab8] {
  max-width: 600px;
}
ul[data-v-095dcab8] {
  list-style: none;
  padding: 0;
}
li[data-v-095dcab8] {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}
